<footer>
    <div class="social">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="company">
       <p> &copy; WanderLust Private Limited</p>
    </div>
    <div class="privacy">
        <a href="#"">Privacy</a>
        <a href="#">Terms and conditions</a>
    </div>
    </footer>