<% layout("/layouts/boilerplate") -%>


<body> 
 <h3>All Listings...</h3><br>
 <div class="row">
     <% for(data of info) { %> 
            
        <div class="card listing-card" style="width: 20rem;">
            <a href="/listings/<%= data._id %>" style="text-decoration:none;"> 
             <img src="<%=data.image.url %>" class="card-img-top" alt="listing_image">
             <div class="card-img-overlay"></div>
           
        <div class="card-body">
          <p class="card-text">
             <b> <%= data.title %> </b><br> 
             &#8377;<%= data.price%>/night
            </p>
        </div>
    </a> 
        </div>
                
        <% } %>
 </div>
</body>
